.authorization {
  height: calc(100vh - 300px);
  min-height: 415px;
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__form {
    position: relative;
    padding: 50px 85px 0 115px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 366px;
    border-radius: 50px;
    background-color: #F3F4F6;

  }

  &__title {
    margin-bottom: 35px;
  }

  &__label {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 25px;

    &-text {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;
      min-width: 57px;
      min-height: 38px;

      position: absolute;
      left: -73px;
    }
  }

  &__error {
    font-family: 'Ubuntu', 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: -0.01em;
    color: #BA0000;
    bottom: 10px;
  }
}
